.audit {
  padding: 6rem 2rem;
  background: white;
}

.audit-container {
  max-width: 1200px;
  margin: 0 auto;
}

.audit-content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
  align-items: center;
  background: white;
  padding: 0.5rem;
  border-radius: 1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.audit-image-wrapper {
  position: relative;
}

.audit-badge {
    position: absolute;
    top: 22px;
    left: -8px;
    background: #D946A6;
    color: white;
    padding: 0.5rem 1rem;
    font-weight: 700;
    font-size: 0.875rem;
    transform: rotate(-50deg);
    z-index: 2;
    box-shadow: 0 4px 6px rgba(217, 70, 166, 0.3);
}
/* 
.audit-image-placeholder {
  background: linear-gradient(135deg, #f3f4f6 0%, #e5e7eb 100%);
  border-radius: 0.5rem;
  padding: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 300px;
}

.audit-laptop-icon {
  font-size: 8rem;
  color: #9ca3af;
} */
.audit-image-placeholder {
  background: linear-gradient(135deg, #f3f4f6 0%, #e5e7eb 100%);
      background: linear-gradient(135deg, #7042f8 0%, #d946a6 100%);
  border-radius: 0.5rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 300px;
  max-width: 100%; /* Limite la largeur à 100% de son conteneur */
  height: auto; /* Maintient le ratio d'aspect de l'image */
}

.audit-image-placeholder img {
  max-width: 100%; /* Assure que l'image ne dépasse pas la largeur de son conteneur */
  height: auto; /* Maintient le ratio d'aspect de l'image */
}

.audit-text {
  text-align: center;
}

.audit-title {
  font-size: 2rem;
  font-weight: 700;
  color: #D946A6;
  margin-bottom: 1.5rem;
  letter-spacing: 0.025em;
}

.audit-description {
  font-size: 1.125rem;
  color: #4b5563;
  margin-bottom: 2rem;
  line-height: 1.7;
}

.audit-button {
  display: inline-block;
  padding: 1.125rem 2.5rem;
  background: #D946A6;
  color: white;
  font-weight: 600;
  font-size: 1rem;
  text-decoration: none;
  border-radius: 0.375rem;
  transition: all 0.3s;
  box-shadow: 0 4px 6px rgba(217, 70, 166, 0.2);
  letter-spacing: 0.025em;
}

.audit-button:hover {
  background: #C23A94;
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(217, 70, 166, 0.3);
}

@media (min-width: 768px) {
  .audit-content {
    grid-template-columns: 1fr 1fr;
    padding: 4rem;
  }

  .audit-text {
    text-align: left;
  }

  .audit-title {
    font-size: 2.5rem;
  }
}
